/*MIXINS, VARIABLER, TYPSNITT, TEXTSTORLEKAR, FÄRG OSV*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$font-stack: 'Poppins';
$primary-color: #464646;
$light_color: rgb(255, 255, 255);
$dark_color: rgb(44, 44, 44);
$paragraph-text: 'Inter';

@mixin size($width, $height, $fullwidth) {
    width: $width;
    height: $height;
    max-width: $fullwidth;
}

@mixin theme-colors($light-theme: true) {
    @if $light-theme {
        background-color: $light_color;
        color: $primary-color;
    }

    @else {
        background-color: $dark_color;
        color: $light_color;
    }
}