@use 'base';

a {
    text-decoration: none;
    color: base.$light_color;

    .btn {
        @include base.btn-text(20px, 600, 1px);
        font: base.$paragraph-text;
        padding: 1em;
        border: 2px solid base.$darkened;
        border-radius: 0.5em;
    }
}

.return-btn {
    @extend .btn;
    background-color: base.$brightened;
}

.goto-btn {
    @extend .btn;
    background-color: base.$dark_color;
}

.btn:hover {
    background-color: base.$darkest;
    transition: 0.4s;
}