@use 'base';

body {
    margin: 0 auto;
    text-align: center;
    font: 100% base.$font-stack;
}

header {
    width: 100%;

    div {
        @include base.size(100%, auto, 1200px);
        box-sizing: border-box;
        justify-content: space-between;
        display: flex;
        border-bottom: 1px solid base.$darkened;
        align-items: center;
        padding: 1em 0em 1em 1em;
        margin: 0 auto;
    }
}

section {
    @include base.size(100%, auto, 650px);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5em 2em 10em 2em;

    .img-holder {
        display: flex;
        gap: 2em;
        padding-top: 5em;

        img {
            border: base.$brightened solid 3px;
            max-width: 100%;
            box-sizing: border-box;
            border-radius: 0.5em;
        }
    }
}

p {
    font: 100% base.$paragraph-text;
    text-align: justify;
}

a {
    text-decoration: none;
    color: base.$light_color;

    .btn {
        @include base.btn-text(20px, 600, 1px);
        font: base.$paragraph-text;
        padding: 1em;
        border: 2px solid base.$darkened;
        border-radius: 0.5em;
    }
}

.return-btn {
    @extend .btn;
    background-color: base.$brightened;
}

.goto-btn {
    @extend .btn;
    background-color: base.$dark_color;
}

.btn:hover {
    background-color: base.$darkest;
}

footer {
    background-color: base.$primary-color;
    color: base.$light_color;
    padding: 5em;

    p {
        text-align: center;
        font-size: 12px;
    }
}

nav {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;
    background-color: base.$light_color;

    ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    li {
        padding: 1em 0.5em;
        width: 100%;
        text-align: left;
    }

    a {
        text-decoration: none;
        padding: 0 0.3em;
        left: 0;
        color: base.$primary-color;
    }

    a:hover {
        color: base.$primary-color;
        border-bottom: 3px solid black;
        border-bottom: base.$primary-color 8px solid;
        transition-duration: 0.4s;
    }

    li:hover {
        cursor: pointer;
        color: base.$primary-color;
    }
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$light_color;
    border: none;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    transform: scale(1.2);
}

.menu-icon {
    margin-right: 10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: base.$primary-color;
    margin: 5px 0;
}

.menu-text {
    font-size: 2em;
    color: base.$primary-color;
}

.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    background-color: base.$primary-color;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    background-color: base.$primary-color;
    top: -3px;
}

@media (prefers-color-scheme: dark) {

    header>div,
    nav,
    header,
    body,
    nav li>a {
        @include base.theme-colors($light-theme: false)
    }

    footer {
        background-color: base.$darkest;
    }

    a {
        color: base.$light_color;
    }

    header>div {
        border-bottom: transparent;
    }

    footer {
        border-top: base.$brightened 1px solid;
    }

    #light-logo {
        display: none;
    }

    nav {
        a:hover {
            color: base.$light_color;
            border-bottom: base.$light_color 8px solid;
        }

        li:hover {
            color: base.$primary-color;
        }
    }

    .menu-btn {
        background-color: transparent;
    }

    .cross1,
    .cross2,
    .bars {
        @include base.theme-colors($light-theme: true)
    }
}

@media (prefers-color-scheme: light) {
    #dark-logo {
        display: none;
    }

    body,
    header>div {
        @include base.theme-colors($light-theme: true)
    }
}

@media only screen and (min-width: 992px) {
    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    nav {
        display: block !important;
        position: relative;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 1.4em;
        width: auto;
        margin-right: 2.5em;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 1.2em 0;
    }

    .position {
        @include base.btn-text(20px, 600, 0.5pxpx);
        border-bottom: base.$primary-color 8px solid;
        margin: 0 auto;
    }

    @media (prefers-color-scheme: dark) {
        .position {
            border-bottom: base.$light_color 8px solid;
        }
    }
}

@media only screen and (max-width: 1024) {
    .img-holder {
        flex-direction: column;

        img {
            width: 70%;
        }
    }
}