@use 'base';

body {
    margin: 0 auto;
    text-align: center;
    font: 100% base.$font-stack;

    p {
        font: 100% base.$paragraph-text;
        text-align: left;
        line-height: 1.7em;
    }

    h2 {
        font-size: 21px;
        text-decoration: underline;
    }
}

header {
    width: 100%;

    #click-icon {
        display: none;
        width: 64.2px;
        filter: invert(73%) sepia(86%) saturate(579%) hue-rotate(179deg) brightness(98%) contrast(100%);
    }

    div {
        @include base.maxsize(100%, auto, 1200px);
        @include base.align(center, space-between);
        display: flex;
        box-sizing: border-box;
        border-bottom: 1px solid base.$darkened;
        padding: 1em 0em 1em 1em;
        margin: 0 auto;
    }
}

section {
    @include base.maxsize(100%, auto, 650px);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5em 2em 10em 2em;

    .img-holder {
        display: flex;
        gap: 2em;
        padding-top: 5em;
    }

    .img-holder img {
        border: base.$brightened solid 3px;
        max-width: 100%;
        box-sizing: border-box;
        border-radius: 0.5em;
        transition: 1s;
    }
}

#map-headline {
    margin: 1.5em 0em 2em 0em;
    font-size: 26px
}

.img-holder img:hover {
    transform: scale(1.1);
    filter: invert(73%) sepia(86%) saturate(579%) hue-rotate(179deg) brightness(98%) contrast(100%);
}


footer {
    background-color: base.$primary-color;
    color: base.$light_color;
    padding: 5em;

    p {
        text-align: center;
        font-size: 12px;
    }
}

.hover_long {
    @include base.transition(width, 1s);
    @include base.size(55px, auto);
    overflow: hidden;
    margin: 0 auto;

    img {
        width: 160px;
    }

    &:hover {
        width: 159px;
    }
}

#box {
    @include base.transition(width, 2s);
    @include base.size(70px, 70px);
    overflow: hidden;
    display: flex;
    background-color: base.$primary-color;
    border-radius: 0.5em;

    div>p {
        margin-left: 7em;
        padding-top: 0.5em;
        font: base.$font-stack;
        color: base.$light_color;
    }

    img {
        width: 40px;
        margin-left: 0.7em;
        transition: 1s;
        filter: invert(73%) sepia(86%) saturate(579%) hue-rotate(179deg) brightness(98%) contrast(100%);
    }

    &:hover {
        filter: invert(30%) sepia(86%) saturate(579%) hue-rotate(179deg) brightness(98%) contrast(100%);
    }
}

#black_circle {
    @include base.align(center, center);
    @include base.size(100px, 100px);
    filter: saturate(50%) brightness(30%) contrast(86%);
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;

    img {
        width: 55px;
    }

    #j-left {
        margin: -15px -5px 0 0;
    }

    &:hover {
        transition: 1s;
        background-color: base.$primary-color;
        filter: invert(73%) sepia(86%) saturate(579%) hue-rotate(179deg) brightness(98%) contrast(100%);
    }

    #j-right {
        margin-right: 5px;
    }
}

nav {
    @include base.size(250px, 100vh);
    display: none;
    position: absolute;
    background-color: base.$light_color;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    right: 0;
    top: 0;

    ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    li {
        padding: 1em 0.5em;
        width: 100%;
        text-align: left;
    }

    a {
        text-decoration: none;
        padding: 0 0.3em;
        left: 0;
        color: base.$primary-color;
    }

    a:hover {
        color: base.$primary-color;
        border-bottom: 3px solid base.$primary-color;
        border-bottom: base.$primary-color 8px solid;
        transition-duration: 0.4s;
    }

    li:hover {
        cursor: pointer;
        color: base.$primary-color;
    }

    .position {
        border-bottom: base.$primary-color 8px solid;
        margin: 0 auto;
    }
}

.menu-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$light_color;
    border: none;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    transform: scale(1.2);
}

.menu-icon {
    margin-right: 10px;
}

.bars {
    @include base.size(20px, 3px);
    display: block;
    background-color: base.$primary-color;
    margin: 5px 0;
}

.menu-text {
    font-size: 2em;
    color: base.$primary-color;
}

.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    background-color: base.$primary-color;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    background-color: base.$primary-color;
    top: -3px;
}

#map {
    box-sizing: border-box;
    border-radius: 1em;
    width: 100%;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 0em 7em 0em;
    }

    #searchBtn {
        max-width: 60px;
        width: 100%;
    }

    #mapid {
        width: 100%;
    }

    div>#searchInput {
        @include base.maxsize(100%, 130px, 20%);
        border-radius: 0.5em;
        border: base.$primary-color 1px solid;
        text-align: center;
        background-color: base.$primary-color;
        font-size: 30px;
        color: base.$light_color;

        &:focus {
            outline: 2px base.$primary-color;
            background-color: base.$light_color;
            color: base.$primary-color;
            filter: brightness(75%);
        }

        &::placeholder {
            font-size: 30px;
            color: base.$light_color;
        }

        &:active {
            background-color: base.$light_color;
            filter: brightness(75%);
        }

        &:hover {
            transition: 1s;
            filter: brightness(75%);
        }
    }
}

@media (prefers-color-scheme: dark) {

    header>div,
    nav,
    header,
    body,
    nav li>a {
        @include base.theme-colors($light-theme: false)
    }

    footer {
        background-color: base.$darkest;
    }

    a {
        color: base.$light_color;
    }

    header>div {
        border-bottom: transparent;
    }

    footer {
        border-top: base.$brightened 1px solid;
    }

    #light-logo {
        display: none;
    }

    nav {
        a:hover {
            color: base.$light_color;
            border-bottom: base.$light_color 8px solid;
        }

        li:hover {
            color: base.$primary-color;
        }
    }

    .menu-btn {
        background-color: transparent;
    }

    .cross1,
    .cross2,
    .bars {
        @include base.theme-colors($light-theme: true)
    }
}

@media (prefers-color-scheme: light) {
    #dark-logo {
        display: none;
    }

    body,
    header>div {
        @include base.theme-colors($light-theme: true)
    }
}

@media only screen and (min-width: 992px) {
    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    nav {
        @include base.size(auto, auto);
        display: block !important;
        position: relative;
        box-shadow: 0 0px 0px;
        font-size: 1.4em;
        margin-right: 2.5em;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 1.2em 0;
    }

    @media (prefers-color-scheme: dark) {
        nav {
            .position {
                border-bottom: base.$light_color 8px solid;
            }
        }
    }
}

@media only screen and (max-width: 1024) {
    .img-holder {
        flex-direction: column;

        img {
            width: 70%;
        }
    }

    #light-logo,
    #dark-logo,
    nav #footer-logo {
        width: 100%;
    }

    #searchInput {
        max-width: 100% !important;
        border-radius: 0 !important;
    }

    #map div {
        display: block;

        #searchBtn {
            margin-top: 1em;
        }
    }
}